@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

:root {
    --black: rgb(17,28,36);
    --white: rgb(255, 255, 255);
    --grey: rgb(102,111,120);
    --dark-grey: rgb(47, 54, 60);
    --orange: rgb(255,154,78);
}

body {
    margin: auto;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: var(--dark-grey);
    overflow-x: hidden;
    height: 100vh;
}

h1 {
    margin: 0;
    text-align: center;
    color: var(--white);
}

h2 {
    text-align: center;
    color: var(--white);
}