@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

:root {
    --black: rgb(17,28,36);
    --white: rgb(255, 255, 255);
    --grey: rgb(102,111,120);
    --dark-grey: rgb(43, 46, 53);
    --orange: rgb(255,154,78);
}

body {
    margin: auto;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(180deg, hsla(208, 12%, 21%, 1) 0%, hsla(222, 6%, 31%, 1) 100%);
    overflow-x: hidden;
}

#announcement {
    margin: auto;
    background: var(--orange);
    color: var(--white);
    padding: 5px;
    text-align: center;
}

h1 {
    margin: 0;
    text-align: center;
    color: var(--white);
}

.line {
    margin: auto;
    background: rgba(255, 255, 255, .7);
    height: 2px;
    width: 100%;
}

#footer-padding {
    margin: auto;
    padding: 25px 10%;
}

.footer-1,
.footer-2 {
    background: var(--orange);
}

.footer-1 p,
.footer-2 p {
    margin: auto;
    color: var(--white);
}

.footer-2 a {
    color: var(--white);
}

@media screen and (max-width: 550px) {
    .footer-1 p,
    .footer-2 p {
        font-size: 13px;
    }
}

@media screen and (max-width: 450px) {
    .footer-1 p,
    .footer-2 p {
        font-size: 10px;
    }
}