:root {
    --black: black;
}

body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background: #F5F4F4;
}

h1 {
    text-align: center;
    color: var(--black);
}

#navbar {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#navbar li {
    display: inline;
}

#navbar a {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color: var(--black);
    text-decoration: none;
}

#navbar .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    width: 200px;
    border: transparent;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    font-weight: bold;
}

#navbar .dropdown-content a {
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#myworks {
    margin-top: 50px;
    text-align: center;
    color: var(--black);
}

h2 {
    text-align: center;
    color: var(--black);
}

.image {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

img {
    border: 2px solid black;
    border-radius: 10px;
    width: auto; 
    height: 350px;
}

.line {
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    height: 2px;
    width: 100%;
}   

.images-presented {
    margin: auto;
    padding: 25px;
    text-align: center;
    color: var(--black);
    font-weight: bold;
}

.footer-container {
    margin-top: 148px;
}

.footer-1 {
    padding: 25px;
    background: white;
}

.footer-1 p {
    margin: auto;
    text-align: center;
    color: var(--black);
    font-weight: bold;
}

.footer-2 {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background: white;
}

.footer-2 p {
    margin: 0px;
    text-align: center;
    color: var(--black);
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
    }
    
    img {
        border: 2px solid black;
        border-radius: 10px;
        width: auto; 
        height: 350px;
    }

    .footer-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
        background: white;
    }
}