@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Prompt&display=swap');

:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
}

body {
    margin: auto;
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: normal;
    background: var(--white);
    overflow-x: hidden;
}

h1 {
    text-align: center;
    color: var(--black);
}

.navbar {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--white);
    /* padding: 10px; */
    top: 0;
    position: sticky;

}

.navbar li {
    display: inline-block;
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color: var(--black);
    text-decoration: none;
}

.navbar .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    width: 200px;
    border: transparent;
    border-radius: 10px;
    background-color: var(--white);
    padding: 10px;
    display: none;
    position: absolute;
    z-index: 1;
}

.navbar .dropdown-content a {
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.image {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}

img {
    border: 2px solid black;
    border-radius: 10px;
    width: auto;
    height: 200px;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 25px;
        text-align: center;
        color: var(--black);
    }
}

@media screen and (max-width: 1850px) {
    .image {
        margin: 15px auto;
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 15px;
    }

    img {
        border: 2px solid black;
        border-radius: 10px;
        width: auto; 
        height: 150px;
    }
}

@media screen and (max-width: 1400px) {
    .image {
        margin: 15px auto;
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 15px;
    }

    img {
        border: 2px solid black;
        border-radius: 10px;
        width: auto; 
        height: 150px;
    }
}

@media screen and (max-width: 1250px) {
    .image {
        margin: 15px auto;
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 15px;
    }

    img {
        border: 2px solid black;
        border-radius: 10px;
        width: auto; 
        height: 125px;
    }
}

@media screen and (max-width: 1100px) {
    .image {
        margin: 15px auto;
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 15px;
    }

    img {
        border: 2px solid black;
        border-radius: 10px;
        width: auto; 
        height: 100px;
    }
}

@media screen and (max-width: 900px) {
    .image {
        margin: 15px auto;
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 15px;
    }

    img {
        border: 2px solid black;
        border-radius: 10px;
        width: auto; 
        height: 90px;
    }
}

@media screen and (max-width: 800px) {
    .image {
        margin: 15px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    img {
        border: 2px solid black;
        border-radius: 10px;
        width: auto; 
        height: 300px;
    }
}