@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

:root {
    --black: rgb(17,28,36);
    --white: rgb(255, 255, 255);
    --grey: rgb(102,111,120);
    --dark-grey: rgb(43, 46, 53);
    --orange: rgb(255,154,78);
}

body {
    margin: auto;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(180deg, hsla(208, 12%, 21%, 1) 0%, hsla(222, 6%, 31%, 1) 100%);
    overflow-x: hidden;
}

h1 {
    margin: 0;
    text-align: center;
    color: var(--white);
}

/* Navbar Section Here */

h2 {
    text-align: center;
    color: var(--white);
}